
body {
    background: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
}

strong { font-weight: 700; }

a, a:hover, a:focus {
	color: #e8643e;
	text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

img { max-width: 100%; }

::-moz-selection { background: #fed418; color: #fff; text-shadow: none; }
::selection { background: #fed418; color: #fff; text-shadow: none; }







/***** Coming Soon *****/

.coming-soon {
    margin: 0 auto;
    color: #fff;
    background-color: black;
    background-image: url(../img/backgrounds/biglight-2.jpg);
    background-repeat: no-repeat;
    background-position: 50% 85%;
}

.inner-bg {
    padding: 50px 0 25px 0;
    text-align: center;
}

.coming-soon h2 {
    color: #fed418;

    font-size: 36px;
    font-weight: 100;
    margin: 0;
    padding: 0;
    margin: 30px 0 0px 0;
}

.coming-soon p {
  margin: 360px 0 0px 0;
	padding: 0;
    font-size: 22px;
    line-height: 36px;
}

.coming-soon p.top-arrow {
	margin-top: 20px;
	font-size: 36px;
}

.coming-soon p.top-arrow i {
	position: relative;
	width: 100px;
	height: 37px;
	overflow: hidden;
}

.coming-soon p.top-arrow i:before {
	position: absolute;
	top: 0;
	left: 33.5px;
}

.coming-soon p.top-arrow i:after {
	content: "scroll down";
    position: absolute;
	top: -30px;
	left: 0;
	width: 100px;
	font-family: 'Roboto', sans-serif;
	font-size: 17px;
	font-weight: 300;
}

.coming-soon p.top-arrow i:before,
.coming-soon p.top-arrow i:after {
	-o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.coming-soon p.top-arrow i:hover:before { top: 40px; }
.coming-soon p.top-arrow i:hover:after { top: 10px; }






/***** Subscription  *****/

.subscribe-container {
    background-color: #fed418;
    padding: 20px 0 50px 0;
}

.subscribe-container .row {

    margin: 0;
    padding: 0;
}

.subscribe {
    margin: 0;
    padding: 0;
    width: 100%;
}

.subscribe h3 {
    font-size: 46px;
    font-weight: 100;
    color: #383838;
    line-height: 50px;
}



.subscribe p {
	margin-top: 30px;
    font-size: 22px;
    color: #383838;
    line-height: 36px;
}

.subscribe form {
    margin-top: 40px;
    margin-bottom: 5px;
}

.subscribe form input {
    width: 362px;
    height: 52px;
}

.success-message, .error-message {
    font-size: 22px;
    line-height: 36px;

}

.success-message {
	margin: 10px 0 0px 0;
}

.error-message {
	margin: 10px 0 0px 0;
    color: #E8710C;
}





/***** About *****/

.about-container {
    margin: 0px auto 0 auto;
    padding-bottom: 45px;
    color: #fff;
    background-color: black;

    /*background-image: url(../img/backgrounds/2.jpg);*/
}

.about {
    margin-top: 25px;
    padding-bottom: 0px;
}

.about h3 {
    color: #fed418;
    font-size: 46px;
    font-weight: 100;
    line-height: 50px;
}

.about p {
	margin-top: 30px;
	padding: 0;
    font-size: 22px;
    line-height: 36px;
}

.about-box-1 {
	margin-top: 20px;
}

.about-box-1 h4 {
	color: #fed418;
    padding: 10px 0;
	font-size: 30px;
    font-weight: 100;
    line-height: 34px;
}

.about-box-1 p {
	font-size: 18px;
    line-height: 32px;
}

.about-box-1 .about-box-1-icon {
    width: 140px;
    height: 140px;
    margin: 0 auto;
    padding-top: 28px;
    background: #e8643e;
    border: 1px solid #e8643e;
    font-size: 56px;
    -moz-border-radius: 85px;
    -webkit-border-radius: 85px;
    border-radius: 85px;
    cursor: pointer;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}

.about-box-1 .about-box-1-icon:hover {
    background: none;
    border: 1px solid #fff;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}







/***** Contact us *****/

.contact {
    margin-top: 25px;
    padding-bottom: 0px;

}

.contact h3 {
    font-size: 46px;
    font-weight: 100;
    color: #383838;
    line-height: 50px;
}

.contact p {
	margin-top: 30px;
	padding: 0;
    font-size: 22px;
    color: #888;
    line-height: 36px;
}

.contact-form,
.contact-address {
	padding-bottom: 50px;
	text-align: center;


}

.contact-form h4,
.contact-address h4 {
	padding: 0 0 10px 0;
	font-size: 30px;
    font-weight: 100;
    color: #555;
    line-height: 34px;
}

.contact-form p {
	margin: 15px 0 0 0;
	font-size: 22px;
	color: #888;
	line-height: 32px;
}

.contact-form form {
	margin: 15px 0 0 0;
}

.contact-form form input,
.contact-form form textarea {
    height: 52px;
    margin-bottom: 5px;
    width: 90%;
}

.contact-form form textarea {
	height: 162px;
}

.contact-form form button {
    padding: 0 40px;
}

.contact-form form .contact-error {
	border-color: #e8643e;
}

.contact-address p {
	margin-bottom: 5px;
	font-size: 18px;
	color: #888;
    line-height: 32px;
}

.contact-address p i {
	padding-right: 15px;
	font-size: 24px;
	color: #ccc;
	vertical-align: middle;
}







/***** Footer *****/

footer {
	padding: 15px 0 15px 0;
	background: #3d3d3d;

}

.footer-copyright p {
	margin: 0;
	font-size: 12px;
    line-height: 32px;
    color: #fff;
}

.footer-copyright a { color: #fff; border-bottom: 1px dotted #fff; }
.footer-copyright a:hover { color: #fff; border: 0; }

.footer-social {
	text-align: right;
}
